/********************
 ** Element Styles **
 ********************/

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: #004000;
}

a:hover {
    filter: brightness(2);
}

input[type="submit"],
.button {
    appearance: none;
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
    background-color: #008000;
    color: white;
    padding: 0.5em 0.8em;
    text-decoration: none;
}

input[type="submit"]:hover,
.button:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

label {
    display: block;
}

fieldset {
    border: 1px solid #687d68;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

textarea,
select,
input {
    display: inline-block;
    border-radius: 0.5em;
    border: 1px solid black;
    box-shadow: none;
    max-width: 100%;
    padding: 0.5em;
    /* margin-bottom: 0.5rem; */
}


/********************
 ** Utility Styles **
 ********************/

.right {
    text-align: right;
}


/*******************
 ** Header Styles **
 *******************/

@media only screen and (max-width: 720px) {
    header {
        flex-direction: column;
    }
}

header {
    display: flex;
    min-height: 3em;
    border-bottom: 1px solid #687d68;
}

header a {
    display: inline-block;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
    transition: filter 0.2s ease-in-out;
}

header>a {
    flex-grow: 1;
    font-size: 2em;
    font-weight: bold;
}

header>a svg {
    display: inline-block;
    height: 1em;
    vertical-align: text-top;
}

header nav ul {
    list-style: none;
    height: 3em;
    margin: 0;
    padding: 0;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    height: 3em;
}

header nav ul li a {
    padding: 0 0.4em;
}
