{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | ChoreMinder</title>
    <link rel="shorcut icon" href="{% static 'chores/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'chores/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'chores/css/chores.css' %}">
    <script src="{% static 'chores/js/vendor/htmx.min.js' %}" defer></script>
    {% block header %}{% endblock %}
</head>
<body hx-boost="true">
    <header>
        <a href="{% url "chores:index" %}">
            {% include "chores/img/logo.svg" %}
            ChoreMinder
        </a>
        {% if user.is_authenticated %}
            <nav>
                <ul>
                    {% if user.is_superuser %}
                    <li>
                        <a href="{% url "admin:index" %}" target="_blank">
                            Admin
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 0.8em; height: 0.8em;">
                                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    <li><a href="{% url "chores:list_away_dates" %}">Away Dates</a></li>
                    <li><a href="{% url "chores:list_tags" %}">Tags</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                </ul>
            </nav>
        {% endif %}
    </header>
    <main>
        <h1>{{ title }}</h1>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
