{% extends "chores/base.html" %}
{% load chores_filters %}

{% block content %}
<div class="controls">
    {% if tag_form.has_tags %}
    <form id="tag-form" method="get" action="">
        {{ tag_form.tag }}
        <input type="submit" value="Filter">
        {% if tag_id %}
        <a class="button" href="{% url "chores:index" %}">Clear Filter</a>
        {% endif %}
    </form>
    {% endif %}
    <a class="button" href="{% url "chores:add_chore" %}">Add Chore</a>
</div>

{% include "chores/fragments/chore_list.html" %}

{% endblock %}
