{% extends "chores/base.html" %}
{% load chores_filters %}
{% block content %}

{% if tag_form.has_tags %}
<form method="get" action="">
    {{ tag_form.tag }}
    <input type="submit" value="Filter">
</form>
{% endif %}

{% if chores %}
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Last done</th>
        <th>Next due</th>
        <th>Status</th>
        <th>Weight</th>
        <th>Actions</th>
    </tr>
    {% for chore in chores %}
    <tr>
        <td>{{ chore.name }}</td>
        <td>{{ chore.description }}</td>
        <td>{{ chore.tags | format_tag_list }}</td>
        <td>{{ chore.latest_log.timestamp }}</td>
        <td>{{ chore.status.next_due | default:"" }}</td>
        <td>{{ chore.status.state }}</td>
        <td>{{ chore.weight }}</td>
        <td style="text-align: center">
            <form action="{% url "chores:log_chore" chore.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Mark Done">
            </form>
            <a href="{% url "chores:edit_chore" chore.id %}">Edit</a>
            <a href="{% url "chores:delete_chore" chore.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No chores to display.</p>
{% endif %}
<p>
    <a href="{% url "chores:add_chore" %}">Add Chore</a>
</p>
{% endblock %}
